<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Czyści wszystkie inne źródła i pozostawia tylko nuget.org -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<!-- Określa, że WSZYSTKIE pakiety (*) mają pochodzić z nuget.org -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
